# Ignore .env file
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
.venv/
env/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
